*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
@media screen and (max-width: 480px){
    header{
        
    }
    .limita-larguraHeader{
        /* background-color: red; */
        width: 90vw;
        margin: auto;
        padding: 10px 0;
        position: relative;
    }
    .cabecalho{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .logo-marca{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 20px;
    } .logo-marca h2{
        font-family: 'Ubuntu', sans-serif;
    } .logo-marca h3{
        font-family: 'Roboto', sans-serif;
    }
    
    .links{
        display: none;
        padding: 20px;
    }
    .links a{
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        padding: 5px 0;
    }
    .mostrar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: fixed;
        top: 70px;
        right: 0;
        /* transition: 0.5s; */
        background-color: rgba(128, 128, 128, 0.196);
        width: 100vw;
        opacity: 1;
    }
    .ocultar{
        display: none;
    }
    .menu{
        position: absolute;
        top: 30%;
        right: 0;
        transform: translateY(-30% -30%);
        font-size: 30px;
        cursor: pointer;
    }
    body{
        background-image: url(./imagens/imagem-fundo.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    .conteudo-principal{
        margin: auto;
        line-height: 30px;
        text-align: center;
    }
    .titulo{
        color: goldenrod;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    }
    .logo-principal{
        color: #fff;
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif;
        line-height: 45px;
        margin-bottom: 20px;
    }
    .texto{
        color:#fff;
    }
    .botao{
        background-color: gray;
        width: 200px;
        margin: 20px auto;
        padding: 10px 0;
        background-color: cornflowerblue;
        border-radius: 10px;
    }
    .botao a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
    }
}